html {
  box-sizing: border-box;
  font-size: 100%;
}
*,
:after,
:before {
  box-sizing: inherit;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: auto;
}
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
body {
  line-height: normal;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 48em) {
  html {
    font-size: 90%;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 85%;
  }
}
*[class*='__inner'] {
  max-width: 75vw;
  width: 90%;
  margin: 0 auto;
}
@media only screen and (min-width: 90em) {
  *[class*='__inner'] {
    max-width: 60vw;
  }
}
@media only screen and (max-width: 48em) {
  *[class*='__inner'] {
    max-width: 85vw;
  }
}
@media only screen and (max-width: 37.5em) {
  *[class*='__inner'] {
    max-width: 100%;
  }
}
main {
  min-height: calc(100vh - 176px);
}
.main {
  padding: min(5rem, 10vw) 0;
}
.loader {
  text-align: center;
}
.partial-width,
.page__description,
.page__card {
  width: 85%;
  margin: 0 auto min(5rem, 10vw);
}
@media only screen and (max-width: 48em) {
  .partial-width,
  .page__description,
  .page__card {
    width: 100%;
  }
}
.no-text-link {
  text-decoration: none;
  color: #2490E3;
}
.no-text-link:hover {
  color: #07263D;
}
.button {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: none;
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  padding: 0.5rem 2.5rem 0.5rem 1rem;
  text-transform: uppercase;
  font-size: inherit;
  font-weight: 700;
  width: inherit;
  height: 2.5rem;
  line-height: 1;
  letter-spacing: 0.5px;
  position: relative;
}
.button:before {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-variant: normal;
  display: inline-block;
  position: absolute;
  content: '\f054';
  right: 1rem;
}
.button--left {
  padding: 0.5rem 1rem 0.5rem 2.5rem;
}
.button--left:before {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-variant: normal;
  display: inline-block;
  position: absolute;
  content: '\f053';
  left: 1rem;
  right: unset;
}
.button--primary {
  background-color: #2490E3;
  color: #FFFFFF;
}
.button--primary:hover {
  background-color: #00A8FF;
}
.button--primary.button--disabled:hover {
  background-color: #2490E3;
}
.button--secondary {
  background-color: #FFFFFF;
  color: #2490E3;
  border: 1px solid #2490E3;
}
.button--secondary:hover {
  color: #07263D;
  border-color: #07263D;
}
.button--secondary.button--disabled:hover {
  background-color: #FFFFFF;
  color: #2490E3;
  border: 1px solid #2490E3;
}
.button--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: flex;
}
@media only screen and (max-width: 48em) {
  .card > .card__image > img {
    width: min(48vw, 220px);
  }
}
@media only screen and (max-width: 48em) {
  .card {
    flex-flow: column;
    align-items: stretch;
  }
}
.card > * {
  flex: 1;
}
.card__list > * {
  flex: 1;
}
.card__item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: flex;
  padding-bottom: 2rem;
  border-bottom: 1px solid #E6E6E6;
}
.card__item:not(:last-child) {
  margin-bottom: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .card__item {
    flex-flow: column;
    align-items: stretch;
    text-align: center;
  }
}
.card__image {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: flex;
  border: 1px solid #E6E6E6;
  padding: 1rem;
}
.card__image > img {
  width: min(24vw, 220px);
  height: auto;
}
@media only screen and (max-width: 37.5em) {
  .card__image > img {
    width: min(48vw, 220px);
  }
}
.card__form {
  margin-left: 2.25rem;
}
@media only screen and (max-width: 48em) {
  .card__form {
    margin-top: 2.25rem;
    margin-left: 0;
  }
}
.card__meta {
  margin-left: 2.25rem;
  font-size: 1.25rem;
}
@media only screen and (max-width: 37.5em) {
  .card__meta {
    margin-left: 0;
    margin-top: 2.25rem;
  }
}
.card__meta > *:not(:last-child) {
  margin-bottom: 0.5rem;
}
.feedback {
  -webkit-box-shadow: 0 2px 5px rgba(209, 209, 209, 0.5);
  -moz-box-shadow: 0 2px 5px rgba(209, 209, 209, 0.5);
  box-shadow: 0 2px 5px rgba(209, 209, 209, 0.5);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: flex;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.1, 0.1, 0.25, 0.9);
  -moz-transition-timing-function: cubic-bezier(0.1, 0.1, 0.25, 0.9);
  -o-transition-timing-function: cubic-bezier(0.1, 0.1, 0.25, 0.9);
  transition-timing-function: cubic-bezier(0.1, 0.1, 0.25, 0.9);
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 110%;
  height: 120%;
  top: -10%;
  left: -5%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  z-index: 997;
  font-size: 1.2rem;
}
.feedback--visible {
  opacity: 1;
  visibility: visible;
}
.feedback__status {
  margin-right: 0.5rem;
}
.feedback__close,
.feedback__success,
.feedback__error {
  display: none;
}
.feedback__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
.feedback__close:hover {
  color: #07263D;
}
.feedback__success {
  color: #00C851;
}
.feedback__error {
  color: #FF4444;
}
.flyout {
  -webkit-box-shadow: 0 2px 5px rgba(209, 209, 209, 0.5);
  -moz-box-shadow: 0 2px 5px rgba(209, 209, 209, 0.5);
  box-shadow: 0 2px 5px rgba(209, 209, 209, 0.5);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.1, 0.1, 0.25, 0.9);
  -moz-transition-timing-function: cubic-bezier(0.1, 0.1, 0.25, 0.9);
  -o-transition-timing-function: cubic-bezier(0.1, 0.1, 0.25, 0.9);
  transition-timing-function: cubic-bezier(0.1, 0.1, 0.25, 0.9);
  opacity: 0;
  visibility: hidden;
  z-index: 999;
  position: absolute;
  right: 0;
  top: 2rem;
  width: 20rem;
}
@media only screen and (max-width: 37.5em) {
  .flyout {
    top: 1.85rem;
    width: 17.5rem;
  }
}
.flyout--visible {
  opacity: 1;
  visibility: visible;
}
.flyout__content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: flex;
  background-color: #FFFFFF;
  border: 1px solid #E6E6E6;
  border-radius: inherit;
  position: relative;
}
.flyout__content:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #07263D;
  position: absolute;
  top: -0.6em;
  right: 3.8em;
}
.flyout__content > * {
  width: 100%;
}
.flyout__header {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  background-color: #07263D;
  text-align: center;
  padding: 1em 1.5em;
  z-index: 1;
}
.flyout__header > * {
  color: #FFFFFF;
}
.flyout__body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: flex;
  padding: 1.5em;
}
.flyout__body * {
  font-size: 0.95em;
}
.flyout__body > div > *:not(:last-child) {
  margin-bottom: 1.5em;
}
.flyout__item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  display: flex;
  border-bottom: 1px solid #E6E6E6;
  padding-bottom: 1em;
}
.flyout__item:not(:first-child) {
  padding-top: 1em;
}
.flyout__image {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: flex;
  width: 70px;
  height: 70px;
  border: 1px solid #E6E6E6;
  padding: 0.5em;
}
.flyout__image > img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.flyout__meta {
  margin-left: 1em;
}
.flyout__buttons {
  width: 100%;
}
.flyout__buttons .button:not(:last-child) {
  margin-bottom: 1em;
}
.footer {
  background-color: #07263D;
  padding: 1rem 0;
}
.footer__inner p {
  color: #FFFFFF;
  font-size: 0.85rem;
}
@media only screen and (max-width: 48em) {
  .footer__inner p {
    text-align: center;
  }
}
.form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: flex;
}
.form small {
  color: #6C6C6C;
}
.form__row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: flex;
  margin-bottom: 1.5em;
}
.form__row > * {
  width: 100%;
}
.form__label {
  color: #303030;
  margin-bottom: 0.35em;
}
.form__input {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 1em;
  font-size: 1rem;
  border: 1px solid #E6E6E6;
  color: #6C6C6C;
  padding: 0 1em;
  height: 40px;
}
.form__input::-webkit-input-placeholder {
  opacity: 0.7;
}
.form__input:-ms-input-placeholder {
  opacity: 0.7;
}
.form__input::placeholder {
  opacity: 0.7;
}
.form__select {
  height: 40px;
}
.grid {
  overflow: hidden;
}
.grid__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: flex;
  margin: -1em;
}
.grid__item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: flex;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.1, 0.1, 0.25, 0.9);
  -moz-transition-timing-function: cubic-bezier(0.1, 0.1, 0.25, 0.9);
  -o-transition-timing-function: cubic-bezier(0.1, 0.1, 0.25, 0.9);
  transition-timing-function: cubic-bezier(0.1, 0.1, 0.25, 0.9);
  border: 1px solid #E6E6E6;
  padding: 1em;
  margin: 1em;
  flex: 1;
  cursor: pointer;
}
.grid__item:hover {
  -webkit-box-shadow: 0 2px 5px rgba(209, 209, 209, 0.5);
  -moz-box-shadow: 0 2px 5px rgba(209, 209, 209, 0.5);
  box-shadow: 0 2px 5px rgba(209, 209, 209, 0.5);
}
.grid__image {
  width: min(24vw, 220px);
}
.header {
  -webkit-box-shadow: 0 2px 5px rgba(209, 209, 209, 0.5);
  -moz-box-shadow: 0 2px 5px rgba(209, 209, 209, 0.5);
  box-shadow: 0 2px 5px rgba(209, 209, 209, 0.5);
  background-color: #FFFFFF;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 998;
}
.header__inner {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  display: flex;
}
@media only screen and (max-width: 37.5em) {
  .header__inner {
    flex-flow: column;
    align-items: stretch;
    text-align: center;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__logo {
    margin-bottom: 1rem;
  }
}
.header__logo img {
  max-width: 140px;
  width: 100%;
}
@media only screen and (max-width: 37.5em) {
  .header__logo img {
    max-width: 120px;
  }
}
.header__utility {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: flex;
  font-size: 0.9rem;
}
@media only screen and (max-width: 48em) {
  .header__utility {
    flex-flow: column;
    align-items: flex-end;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__utility {
    flex-flow: row nowrap;
    align-items: center;
  }
}
.header__utility > span {
  padding-right: 2rem;
}
@media only screen and (max-width: 48em) {
  .header__utility > span {
    padding-right: 0;
    margin-bottom: 0.25rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__utility > span {
    padding-right: 1rem;
    margin-bottom: 0;
  }
}
.header__utility > .header__cart {
  position: relative;
}
.header__utility > .header__cart i {
  padding-right: 0.5rem;
}
.login {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 100vh;
}
.login > * {
  width: 100%;
}
.login__background {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.1, 0.1, 0.25, 0.9);
  -moz-transition-timing-function: cubic-bezier(0.1, 0.1, 0.25, 0.9);
  -o-transition-timing-function: cubic-bezier(0.1, 0.1, 0.25, 0.9);
  transition-timing-function: cubic-bezier(0.1, 0.1, 0.25, 0.9);
  background-image: url('../assets/login.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
@media only screen and (max-width: 48em) {
  .login__background {
    transform: translateX(-100%);
    background-image: none;
    height: auto;
    width: auto;
  }
}
.login__details {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: flex;
}
.login__details > div {
  padding: min(10rem, 10vw);
}
.login__logo {
  text-align: center;
  margin-bottom: 4em;
}
.login__logo img {
  max-width: 140px;
  width: 100%;
  height: auto;
}
.page {
  position: relative;
  margin-bottom: min(5rem, 10vw);
}
.page__description {
  text-align: center;
}
.page__description h1 {
  margin-bottom: 1rem;
}
.page__card {
  position: relative;
}
.page__back {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  display: flex;
  position: absolute;
  top: -3rem;
}
@media only screen and (max-width: 48em) {
  .page__back {
    position: static;
    margin-bottom: 2rem;
    justify-content: center;
  }
}
.page__back i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
.page__details {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: flex;
  margin-bottom: 1.5rem;
}
.page__details h3 {
  margin-bottom: 2rem;
}
.page__buttons {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: flex;
}
@media only screen and (max-width: 37.5em) {
  .page__buttons {
    flex-flow: column;
    align-items: stretch;
  }
}
.page__buttons .button {
  margin: 0 1rem;
}
@media only screen and (max-width: 37.5em) {
  .page__buttons .button {
    margin: 0.5rem 0;
  }
}
.page__disclaimer {
  margin-top: min(5rem, 10vw);
}
.page__disclaimer small:first-child {
  display: block;
  margin-bottom: 0.5rem;
}
.preheader {
  background-color: #07263D;
  color: #FFFFFF;
  padding: 1rem 0;
}
@media only screen and (max-width: 37.5em) {
  .preheader {
    padding: 0.5rem;
  }
}
.preheader__inner {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
  display: flex;
}
@media only screen and (max-width: 37.5em) {
  .preheader__inner {
    align-items: center;
  }
}
.preheader__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: flex;
}
.preheader__item {
  font-size: 0.85rem;
}
@media only screen and (max-width: 37.5em) {
  .preheader__item:not(:last-child) {
    display: none;
  }
}
body {
  font-family: 'Open Sans', helvetica, sans-serif;
  font-weight: 400;
  color: #6C6C6C;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
  color: #303030;
}
h1 {
  font-size: 3rem;
  line-height: 1.2;
}
@media only screen and (max-width: 37.5em) {
  h1 {
    font-size: 2.25rem;
  }
}
h2 {
  font-size: 1.5rem;
  line-height: 1.5;
  color: #6C6C6C;
}
@media only screen and (max-width: 37.5em) {
  h2 {
    font-size: 1.15rem;
    line-height: 1.7;
  }
}
h3 {
  font-weight: 700;
  font-size: 1.3125rem;
}
h4 {
  font-size: 0.9rem;
}
p {
  line-height: 1.6;
}
small {
  font-size: 0.85rem;
}
strong {
  font-weight: 700;
  color: #303030;
}
a {
  color: inherit;
  text-decoration: underline;
}
a:visited {
  color: #07263D;
}
a:hover {
  color: #2490E3;
  cursor: pointer;
}
a:active {
  color: #00A8FF;
}
