<div class="page">
    <div class="page__description">
        <h1>Checkout</h1>
        <h2>You have <span class="js-cart-quantity">0</span> items in your cart. <small><a ng-click="main.editCart()">Edit cart</a></small></h2>
    </div>
    <div class="page__buttons">
        <button class="button button--secondary button--left" type="button" ng-click="main.onBrowse()">
            Continue Shopping
        </button>
        <button class="button button--primary" type="button">
            Confirm purchase
        </button>
    </div>
</div>
